includes:
	# https://github.com/phpstan/phpstan-doctrine#configuration
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	level: 6
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#Unreachable statement - code above always terminates.#'
			path: src/Security/Voter/TaskVoter.php
		-
			message: '#^.*Genertator.*$#'
			path: tests/ControllerTrait.php
		-
			message: '#.*getFlashBag.*#'
			path: src/Security/LoginFormAuthenticator.php
	reportUnmatchedIgnoredErrors: false
